<ion-header>
  <ion-toolbar>
    <ion-title align="center">Clientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-searchbar animated="true" [formControl]="searchControl" placeholder="Buscar Cliente"></ion-searchbar>

  <ion-card color="danger" *ngFor="let cliente of clientes">
    <ion-card-header>
      <ion-card-title>{{cliente.nombrecliente}} {{cliente.apellidoPaternoCliente}} {{cliente.apellidoMaternoCliente}}</ion-card-title>
      <ion-card-subtitle>{{cliente.celularCliente}}</ion-card-subtitle>
      <ion-card-subtitle>{{cliente.correoCliente}}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Datos Personales.
    </ion-card-content>

    <ion-button style="margin-left: 15px; margin-bottom: 10px" color="warning" (click)="goToNuevoCliente(cliente)">Actualizar</ion-button>
    <ion-button style="margin-left: 43px; margin-bottom: 10px" color="warning" (click)="eliminarCliente(cliente.idCliente)">Eliminar</ion-button>

  </ion-card>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button color="warning" (click)="goToNuevoCliente()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
