.texto {
  background: #9d9fa6;
  border-radius: 60px;
}
.botonTraslado {
  border-radius: 600px;
  background: white;
  margin: 10px;
}
/* iOS places the subtitle above the title */
ion-card-header.ios {
  display: flex;
  flex-flow: column-reverse;
}
