<ion-header>
  <ion-toolbar>
    <ion-title align="center">Inicio de Sesion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="loginForm" (ngSubmit)="login()" style="margin-left: 10px; margin-right: 10px; border-radius: 60px; margin-top: 70px">
    <ion-item lines="full">
      <ion-label position="floating">Correo</ion-label>
      <ion-input formControlName="email" type="text" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input formControlName="password" type="password" required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="primary" expand="block">Ingresar</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
